@page "/admin/banks"
@inject IBankViewModel bankViewModel

<PageTitle>Candidate/Experiances</PageTitle>
<h3>Experiances</h3>
<MudTable Items="bankViewModel.Banks" Hover="true" @bind-education="bankViewModel.BankDto">
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Office phone</MudTh>
        <MudTh>Contact person</MudTh>
        <MudTh>Mobile number</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>
            <MudFab Color="Color.Tertiary" Icon="@Icons.Material.Filled.Add" Size="Size.Medium" IconSize="Size.Medium" Class="ma-2"
                    @onclick="(e => bankViewModel.CreateAsync())" />
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="BankName">@context.BankName</MudTd>
        <MudTd DataLabel="OfficePhone">@context.OfficePhone</MudTd>
        <MudTd DataLabel="ContactPerson">@context.ContactPerson</MudTd>
        <MudTd DataLabel="ContactMobilePerson">@context.ContactMobilePerson</MudTd>
        <MudTd DataLabel="Email">@context.Email</MudTd>
        <MudTd>
            <MudButtonGroup>
                <MudIconButton Color="Color.Tertiary" Icon="@Icons.Material.Filled.Edit" Size="Size.Medium" Class="ma-2"
                               @onclick="(e => bankViewModel.UpdateAsync(context))" />
                <MudIconButton Color="Color.Warning" Icon="@Icons.Material.Filled.Delete" Size="Size.Medium" Class="ma-2"
                               @onclick="(e => bankViewModel.DeleteAsync(context))" />
            </MudButtonGroup>
        </MudTd>
    </RowTemplate>
</MudTable>
@code{
    protected override async Task OnInitializedAsync() => await bankViewModel.LoadAsync();

}